/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Discover Us Section */
.discover-us {
    text-align: center;
    padding: 50px 20px;
    background-color: #1d1559;
    color: white;
}

.discover-us h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.discover-us p {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.discover-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    font-size: 16px;
}

/* Stats Section */
.stats {
    display: flex;
    justify-content: space-around;
    background-color: #1d1559;
    padding: 40px 20px;
    border-radius: 10px;
}

.stat-card {
    text-align: center;
}

.stat-card h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 18px;
}

@media (max-width: 768px) {
    .stats {
        flex-direction: column;
    }

    .stat-card {
        margin-bottom: 20px;
    }
}

